@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

.container {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

.home {
    position: relative;
    width: 100vw;
    height: 100%;
    // background-image: url('https://res.cloudinary.com/multimediarog/image/upload/v1654537379/Portfolio/grid_dmcii8.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    scroll-snap-align: start;
}


.navbar {
    position: relative;
    width: 100vw;
    height: 70px;
    z-index: 100;
    top: 10px;

    ul {
        margin-top: 0;
        padding-top: 10px;
        display: flex;
        list-style-type: none;
        gap: 2em;
        font-family: 'sans-serif', monospace;

        li {
            font-size: 1.5em;
            color: white;

            a {
                position: relative;
                transition: color .5s ease;

                &:hover {
                    color: darken(white, 20%);
                }
            }
        }
    }
}

.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-family: 'Tauri', sans-serif;
    height: calc((100% - 70px) / 1.15);

    h1 {
        color: $light-white;
        font-size: clamp(1rem, 5vw, 3rem);
        color: #0885A4;

        &:first-child {
            margin-bottom: 0px;
            font-size: 1.2rem;
            color: rgb(200, 200, 200);
        }

        &:nth-child(2) {
            margin-bottom: 0;
        }

        &:last-child {
            margin-top: 0px;
            color: #6C63FF;
        }
    }
}

.scroll_more {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 100vw;
    bottom: 10px;
    color: white;

    span {
        text-align: center;
        font-family: 'Ubuntu Mono', monospace;
    }
}

@keyframes up_down {
    0% { transform: translateY(0) }
    100% { transform: translateY(3px) }
}

.animated_arrow {
    text-align: center;
    width: 100vw;
    animation: up_down 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
