.circled_button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-image: url('https://res.cloudinary.com/multimediarog/image/upload/v1654591524/Portfolio/add-button-12018_cq4kbn.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .35s;
}

.clicked {
    transform: rotate(-45deg);
}

.whole_container {
    position: fixed;
    bottom: 15px;
    left: 10px;
}

.container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.closed_menu {
    display: none;
}

@keyframes appear_item {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.open_item {
    @for $i from 1 to 5 {
        &:nth-child(#{5 - $i}) {
            animation: appear_item .35s calc(0.2s * ($i - 1));
        }
    }
}

@keyframes disappear_item {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

.close_item {
    @for $i from 1 to 5 {
        &:nth-child(#{$i}) {
            animation: disappear_item .35s calc(0.2s * ($i - 1));
        }
    }
}

.item {
    display: flex;
    align-items: center;
    gap: .4em;
    font-family: 'Ubuntu Mono', monospace;
    opacity: 1;

    img {
        z-index: 1000;
        cursor: pointer;    
    }

    a {
        font-size: 1.2rem;
    }
}

@keyframes disappear_name {
    0% { visibility: visible; opacity: 1; transform: translateX(0) }
    100% { opacity: 0; visibility: visible; transform: translateX(-30px);  }
}

.disappear_name {
    animation: disappear_name .2s;
    visibility: collapse;
}

@keyframes appear_name {
    0% { visibility: visible; opacity: 0; transform: translateX(-30px) }
    100% { visibility: visible; opacity: 1; transform: translateX(0px) }
}

.appear_name {
    animation: appear_name .2s;
    visibility: visible;
}