@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');

.container {
    scroll-snap-align: start;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    // background-color: #f907fc;
    // background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);    
    display: flex;
    align-items: center;
    height: 100%;
    overflow-x: scroll
}

.line {
    position: relative;
    margin-inline: 40px;
    height: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 24px 5px rgba(255,255,255,0.77); 
    box-shadow: 1px 1px 24px 5px rgba(255,255,255,0.77);
    background-color: white;
    min-width: 80vw;
    width: 100vw;
}

.absolute_positioning_container {
    position: absolute;
}

.event_circle {
    position: relative;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: white;

    &::after {
        content: attr(date-text);
        position: absolute; 
        bottom: 0;
        left: -23px;
        top: 13px;
        font-family: 'Baloo Bhai 2', cursive;
    }
}


.event_container {
    position: relative;
    width: 500px;
    height: 35vh;
    background-color: white;
    margin-left: -14px;
    padding-top: 15px;
    padding-left: 15px;
    border: 1px solid black;
}

.triangle_up {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -30px;
        width: 0; 
        height: 0; 
        left: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 30px solid white;
        border: 1px solid black;
    }
}


.triangle_down {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: -30px;
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 30px solid white;
        border: 1px solid black;
    }
}

.final_text {
    float: right;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.2rem; 
}