.container {
    position: relative;
    border-block: 2px solid black;
    min-height: calc(100vh - 4em);
}

.dividing_div {
    display: flex;
    justify-content: space-around;
    margin-inline: 20px;
    align-items: center;
    padding-bottom: 2em;
    padding-top: 3em;
}

.circle_tech {
    border-radius: 50%;
    border: 1px solid black;
    padding: 2em;
}

.full_circle {
    display: flex;
    flex-flow: column;
    gap: 1em;
    opacity: 0;
    transform: scale(1.2);
    transition: all 1s;


    img {
        position: relative;
    }
}

.put_in_place {
    transform: scale(1);
    opacity: 1;
}

.imgs_circle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        animation: rotate360 4s linear infinite;
    }
}

.centered_content h1 {
    font-family: 'Ubuntu Mono';
    text-align: center;
    font-size: 3rem;
}

.lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    opacity: 0;
    transition: opacity 1s;

    ul {
        list-style-type: none;
        line-height: 1.5;

        h2 {
            font-family: 'Tauri';
            white-space: nowrap;
        }

        li {
            margin-left: 20px;
            font-family: 'Tauri';
            font-weight: 600;
        }
    }
}

.fade_in {
    opacity: 1 !important;
}

.section_name {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: skew(-10deg);
    font-weight: 700;
    padding-inline: .125em;

    span {
        font-size: 3rem;
    }

    &::before {
        content: '';
        position: absolute;
        height: 5px;
        background-color: #FEF1FA;
        //#FEF1FA
        top: 50%;
        width: 60%;
        transition: opacity 1s;
        opacity: 0;
        z-index: 1000;
    }
}

.sn_before::before {
    opacity: 1;
}

.decoration_ball_inv {
    height: 75px;
    width: 75px;
    background-color: #FEF1FA;
    position: absolute;
    top: 0;
    left: 0;
}

.ball_decoration {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    right: -75px;
    background-color: black;    
}

@media screen and (max-width: 1000px) {
    .ball_decoration {
        width: 125px;
        height: 125px;
    }

    .decoration_ball_inv {
        position: relative;
        top: -.5px;
        width: 73px;
        height: 73px;
        z-index: 99999;
    }

    .dividing_div {
        margin-top: -40px;
        flex-flow: column nowrap;
        padding-bottom: 60px;
        justify-content: center;
        gap: 5em;
        margin-inline: 0;
    }
    
    .lists {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 0;

        ul {
            padding-left: 0;
            margin-top: 0;

            h2 {
                text-align: center;
                margin-top: 0;
            }

            li {
                text-align: center;
                margin-left: 0;
            }
            
            &:nth-child(3) {
                margin-top: -20px;
            } 
        }
    }

    .section_name {
        margin-bottom: -30px;

        span {
            font-size: clamp(2rem, 10vw, 3rem) !important;
        }

        &::before {
            width: 100%;
            height: .2em;
            top: 50%;
        }
    }

    .full_circle:last-child {
        margin-top: -120px;
    }
}

@media screen and (min-width: 551px) and (max-width: 1000px) {
    .lists {
        gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .full_circle:last-child {
        margin-top: -100px;
    }
}